---
layout: page
title: Travel
permalink: /travel/
---
<div id="map" style="height: 450px; overflow: hidden;"></div>
<script>

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 1,
      center: {lat: 0, lng: 0},
      streetViewControl: false,
      fullscreenControl: false,
      mapTypeControl: false,
      styles:  [
        {
            "featureType": "all",
            "elementType": "all",
            "stylers": [
                {
                    "invert_lightness": true
                },
                {
                    "saturation": 20
                },
                {
                    "lightness": 50
                },
                {
                    "gamma": 0.4
                },
                {
                    "hue": "#00ffee"
                }
            ]
        },
        {
            "featureType": "all",
            "elementType": "geometry",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "all",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "administrative",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#ffffff"
                },
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "administrative.land_parcel",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#405769"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#232f3a"
                }
            ]
        }
    ]
    });

    $.getJSON('/assets/travel_locations.json', function(data) {
      var latlngbounds = new google.maps.LatLngBounds();
      for (var i = 0; i < data.length; i++) {
        loc = data[i];
        loc["map"] = map;
        var image = new google.maps.MarkerImage("/assets/pin@2x.png", null, null, null, new google.maps.Size(30,30));
        loc["icon"] = image;
        var marker = new google.maps.Marker(loc);
        var latlng = new google.maps.LatLng(loc["position"]);
        latlngbounds.extend(latlng);
      }
      map.setCenter(latlngbounds.getCenter());
      map.fitBounds(latlngbounds)
    });
  }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHMm-OqBuRbfrISmRLobLBcS_DzEVmTKg&callback=initMap">
</script>

<h2>Trips</h2>

<ul class="post-list">

  {% for post in site.posts %}
  {% if post.categories contains 'Travel' %}
  <li>
    <a href="{{ post.url }}">
    <h1>{{ post.title }}</h1>
    <p class="author">
      <span class="date" style="float:left;">{{ post.date | date: "%b %-d, %Y" }}</span>
    </p>
    </a>
    <hr class="post-split" />
  </li>
  {% endif %}
  {% endfor %}
</ul>
